 @import "imports/variables";
 @import "imports/navbar";
 @import "imports/footer";
 @import "imports/gridpics";
 #page-container {
     position: relative;
     min-height: 100vh;
 }
 
 #googlefont {
     font-family: 'Great Vibes', cursive;
     transition: $trans;
     &:hover {
         font-size: xx-large;
         color: $cian;
         padding: 2%;
     }
 }
 
 .text {
     color: $wh;
     background-color: rgba(128, 128, 128, 0.5);
     text-align: center;
     position: relative;
     top: 68%;
     left: 0%;
     span {
         padding-top: 15%;
     }
     a {
         text-decoration: none;
         p {
             padding-bottom: 3%;
             color: $wh;
             &:hover {
                 font-size: larger;
                 color: $cian;
             }
         }
     }
 }
 
 // .container {
 //     display: grid;
 //     grid-gap: 1%;
 //     .grid1 {
 //         display: grid;
 //         grid-template-columns: 1fr 1fr;
 //         .left {
 //             grid-column-start: 1;
 //         }
 //     }
 // }
 // @media screen and (max-width: 900px) {
 // }
 // @media screen and (max-width: 600px) {
 // }
 // @media screen and (max-width: 480px) {
 // }