.navbar .klein {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  margin: 2%;
}

.navbar .klein a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.5 linear;
  transition: all 0.5 linear;
  padding: 4%;
}

.navbar .klein a:hover {
  font-size: larger;
  color: darkcyan;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 1%;
  margin-top: 32%;
  position: relative;
  width: 100%;
  bottom: 0;
  clear: both;
}

footer .foot {
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.5 linear;
  transition: all 0.5 linear;
  padding-left: 6%;
  padding-right: 6%;
}

footer .foot:hover {
  font-size: larger;
  color: darkcyan;
  padding: 7%;
}

.social {
  margin-top: 1%;
}

.social .fa-facebook-square {
  padding-left: 1em;
  padding-right: 1em;
}

.wrap {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin: 1em 2em;
}

.wrap #search {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  top: 1em;
  right: 2.5em;
}

#end {
  text-align: end;
  margin-right: 2em;
}

.container {
  margin: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 3%;
          column-gap: 3%;
  row-gap: 3%;
}

.container .grid {
  background-color: purple;
}

.container .first {
  -ms-grid-row: 1;
  -ms-grid-row-span: 29;
  grid-row: 1/30;
  background-image: url(pics/pizza.jpg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  -webkit-transition: all 0.5 linear;
  transition: all 0.5 linear;
  z-index: 1;
}

.container .first:hover {
  -ms-grid-row: 1;
  -ms-grid-row-span: 30;
  grid-row: 1/31;
  z-index: 2;
  border-radius: 2%;
}

.container .second {
  -ms-grid-row: 1;
  -ms-grid-row-span: 29;
  grid-row: 1/30;
  background-image: url(pics/breakfast.jpg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  -webkit-transition: all 0.5 linear;
  transition: all 0.5 linear;
  z-index: 1;
}

.container .second:hover {
  -ms-grid-row: 1;
  -ms-grid-row-span: 30;
  grid-row: 1/31;
  z-index: 2;
  border-radius: 2%;
}

.container .third {
  -ms-grid-row: 1;
  -ms-grid-row-span: 29;
  grid-row: 1/30;
  background-image: url(pics/cheese.jpg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transition: all 0.5 linear;
  transition: all 0.5 linear;
  z-index: 1;
}

.container .third:hover {
  -ms-grid-row: 1;
  -ms-grid-row-span: 30;
  grid-row: 1/31;
  z-index: 2;
  border-radius: 2%;
}

.container .fourth {
  -ms-grid-row: 31;
  -ms-grid-row-span: 30;
  grid-row: 31/61;
  background-image: url(pics/fish.jpg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transition: all 0.5 linear;
  transition: all 0.5 linear;
}

.container .fourth:hover {
  -ms-grid-row: 30;
  -ms-grid-row-span: 32;
  grid-row: 30/62;
  z-index: 2;
  border-radius: 2%;
}

.container .five {
  -ms-grid-row: 31;
  -ms-grid-row-span: 30;
  grid-row: 31/61;
  background-image: url(pics/mini.jpg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transition: all 0.5 linear;
  transition: all 0.5 linear;
}

.container .five:hover {
  -ms-grid-row: 30;
  -ms-grid-row-span: 32;
  grid-row: 30/62;
  z-index: 2;
  border-radius: 2%;
}

.container .six {
  -ms-grid-row: 31;
  -ms-grid-row-span: 30;
  grid-row: 31/61;
  background-image: url(pics/rice.jpg);
  -webkit-transition: all 0.5 linear;
  transition: all 0.5 linear;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
}

.container .six:hover {
  -ms-grid-row: 30;
  -ms-grid-row-span: 32;
  grid-row: 30/62;
  z-index: 2;
  border-radius: 2%;
}

.container .seven {
  -ms-grid-row: 62;
  -ms-grid-row-span: 30;
  grid-row: 62/92;
  background-image: url(pics/pancakes.jpg);
  -webkit-transition: all 0.5 linear;
  transition: all 0.5 linear;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
}

.container .seven:hover {
  -ms-grid-row: 61;
  -ms-grid-row-span: 32;
  grid-row: 61/93;
  z-index: 2;
  border-radius: 2%;
}

.container .eight {
  -ms-grid-row: 62;
  -ms-grid-row-span: 30;
  grid-row: 62/92;
  background-image: url(pics/pea_soup.jpg);
  -webkit-transition: all 0.5 linear;
  transition: all 0.5 linear;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
}

.container .eight:hover {
  -ms-grid-row: 61;
  -ms-grid-row-span: 32;
  grid-row: 61/93;
  z-index: 2;
  border-radius: 2%;
}

.container .nine {
  -ms-grid-row: 62;
  -ms-grid-row-span: 30;
  grid-row: 62/92;
  background-image: url(pics/dessert.jpg);
  -webkit-transition: all 0.5 linear;
  transition: all 0.5 linear;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
}

.container .nine:hover {
  -ms-grid-row: 61;
  -ms-grid-row-span: 32;
  grid-row: 61/93;
  z-index: 2;
  border-radius: 2%;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#googlefont {
  font-family: 'Great Vibes', cursive;
  -webkit-transition: all 0.5 linear;
  transition: all 0.5 linear;
}

#googlefont:hover {
  font-size: xx-large;
  color: darkcyan;
  padding: 2%;
}

.text {
  color: white;
  background-color: rgba(128, 128, 128, 0.5);
  text-align: center;
  position: relative;
  top: 68%;
  left: 0%;
}

.text span {
  padding-top: 15%;
}

.text a {
  text-decoration: none;
}

.text a p {
  padding-bottom: 3%;
  color: white;
}

.text a p:hover {
  font-size: larger;
  color: darkcyan;
}

@media screen and (max-width: 900px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 4%;
            column-gap: 4%;
    row-gap: 4%;
  }
  .container .grid {
    grid-area: auto;
  }
}

@media screen and (max-width: 600px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -webkit-column-gap: 4%;
            column-gap: 4%;
    row-gap: 4%;
  }
  .container .grid {
    grid-area: auto;
  }
}
/*# sourceMappingURL=style.css.map */