.navbar .klein {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  margin: 2%;
}

.navbar .klein a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.5 linear;
  transition: all 0.5 linear;
  padding: 4%;
}

.navbar .klein a:hover {
  font-size: larger;
  color: darkcyan;
  padding: 5%;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 1%;
  position: relative;
  width: 100%;
  bottom: 0;
  clear: both;
}

footer .foot {
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.5 linear;
  transition: all 0.5 linear;
  padding-left: 6%;
  padding-right: 6%;
}

footer .foot:hover {
  font-size: larger;
  color: darkcyan;
  padding: 7%;
}

footer .social {
  margin-top: 1%;
}

footer .social .fa-facebook-square {
  padding-left: 1em;
  padding-right: 1em;
}

.wrap {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin: 1em 2em;
}

.wrap #search {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  top: 2em;
  right: 3em;
}

#end {
  text-align: end;
  margin-right: 2em;
}

.container {
  margin-top: 5%;
  margin-bottom: 5%;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.container .first {
  background-image: url(pics/pizza.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.container .first:hover {
  z-index: 2;
  border: none;
}

.container .second {
  background-image: url(pics/breakfast.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.container .second:hover {
  z-index: 2;
  border: none;
}

.container .third {
  background-image: url(pics/cheese.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.container .third:hover {
  z-index: 2;
  border: none;
}

.container .fourth {
  background-image: url(pics/fish.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.container .fourth:hover {
  z-index: 2;
  border: none;
}

.container .five {
  background-image: url(pics/mini.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.container .five:hover {
  z-index: 2;
  border: none;
}

.container .six {
  background-image: url(pics/rice.jpg);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  background-position: center;
  /* background-repeat: no-repeat; */
}

.container .six:hover {
  z-index: 2;
  border: none;
}

.container .seven {
  background-image: url(pics/rice.jpg);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  background-position: center;
  /* background-repeat: no-repeat; */
}

.container .seven:hover {
  z-index: 2;
  border: none;
}

.container .eight {
  background-image: url(pics/rice.jpg);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  background-position: center;
  /* background-repeat: no-repeat; */
}

.container .eight:hover {
  z-index: 2;
  border: none;
}

.container .nine {
  background-image: url(pics/rice.jpg);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  background-position: center;
  /* background-repeat: no-repeat; */
}

.container .nine:hover {
  z-index: 2;
  border: none;
}

#googlefont {
  font-family: 'Great Vibes', cursive;
  -webkit-transition: all 0.5 linear;
  transition: all 0.5 linear;
}

#googlefont:hover {
  font-size: xx-large;
  color: darkcyan;
}
/*# sourceMappingURL=style.css.map */