 @import "imports/variables";
 @import "imports/navbar";
 @import "imports/footer";
 @import "imports/gridpics";
 body {
     height: 1000px;
 }
 
 #googlefont {
     font-family: 'Great Vibes', cursive;
     transition: $trans;
     &:hover {
         font-size: xx-large;
         color: $cian;
         padding: 2%;
     }
 }
 
 // .container {
 //     display: grid;
 //     grid-gap: 1%;
 //     .grid1 {
 //         display: grid;
 //         grid-template-columns: 1fr 1fr;
 //         .left {
 //             grid-column-start: 1;
 //         }
 //     }
 // }
 // @media screen and (max-width: 900px) {
 // }
 // @media screen and (max-width: 600px) {
 // }
 // @media screen and (max-width: 480px) {
 // }