footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 1%;
    margin-top: 32%;
    position: relative;
    width: 100%;
    bottom: 0;
    clear: both;
    .foot {
        text-decoration: none;
        color: $wh;
        transition: $trans;
        padding-left: 6%;
        padding-right: 6%;
        &:hover {
            font-size: larger;
            color: $cian;
            padding: 7%;
        }
    }
}

.social {
    margin-top: 1%;
    .fa-facebook-square {
        padding-left: 1em;
        padding-right: 1em;
    }
}