.wrap {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin: 1em 2em;
    #search {
        position: absolute;
        width: 1.5em;
        height: 1.5em;
        top: 2em;
        right: 3em;
    }
}

#end {
    text-align: end;
    margin-right: 2em;
}

.container {
    margin-top: 5%;
    margin-bottom: 5%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    .first {
        background-image: url(pics/pizza.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 0.5s linear;
        &:hover {
            z-index: 2;
            border: none;
        }
    }
    .second {
        background-image: url(pics/breakfast.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 0.5s linear;
        &:hover {
            z-index: 2;
            border: none;
        }
    }
    .third {
        background-image: url(pics/cheese.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: all 0.5s linear;
        &:hover {
            z-index: 2;
            border: none;
        }
    }
    .fourth {
        background-image: url(pics/fish.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: all 0.5s linear;
        &:hover {
            z-index: 2;
            border: none;
        }
    }
    .five {
        background-image: url(pics/mini.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: all 0.5s linear;
        &:hover {
            z-index: 2;
            border: none;
        }
    }
    .six {
        background-image: url(pics/rice.jpg);
        transition: all 0.5s linear;
        background-position: center;
        /* background-repeat: no-repeat; */
        &:hover {
            z-index: 2;
            border: none;
        }
    }
    .seven {
        background-image: url(pics/rice.jpg);
        transition: all 0.5s linear;
        background-position: center;
        /* background-repeat: no-repeat; */
        &:hover {
            z-index: 2;
            border: none;
        }
    }
    .eight {
        background-image: url(pics/rice.jpg);
        transition: all 0.5s linear;
        background-position: center;
        /* background-repeat: no-repeat; */
        &:hover {
            z-index: 2;
            border: none;
        }
    }
    .nine {
        background-image: url(pics/rice.jpg);
        transition: all 0.5s linear;
        background-position: center;
        /* background-repeat: no-repeat; */
        &:hover {
            z-index: 2;
            border: none;
        }
    }
}