// nav {
//     list-style: none;
//     background-color: lightslategray;
//     text-decoration: none;
//     color: white;
//     width: 4vw;
//     height: 20vh;
//     padding: 1vw;
//     margin-bottom: 2vw;
//     margin-top: 2vh;
//     nav:hover {
//         width: 5vw;
//         height: 20vh;
//         margin: 1vw;
//         background-color: lightseagreen;
//         transition: all 0.5s linear;
//         text-align: center;
//     }
// }
.navbar {
    margin-bottom: 10%;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    a {
        text-decoration: none;
        color: black;
        transition: all 0.5 linear;
        padding-left: 1%;
        padding-right: 1%;
        &:hover {
            font-size: larger;
            color: $cian;
            padding: 1%;
        }
    }
}