        .navbar {
            .klein {
                display: grid;
                grid-template-columns: repeat(8, 1fr);
                margin: 2%;
                a {
                    text-decoration: none;
                    color: black;
                    transition: $trans;
                    padding: 4%;
                    @include hover();
                }
            }
        }